i{
    font-size: 3em;

}

h5{
    font-weight: 700;
    margin-bottom: 1em;
}

h1{
    font-weight: 700;
    font-size: 2em;
    margin-top: 2em;
}
.weather-widget{
    width: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}
.card{
    text-align: center;
    padding: .5em;
    height: auto;
    background-color: #083D77;
    margin: 1em;
    width: 20vw;
    border-radius: 5%;
}

.card p {
    margin: .5em;
}


.card:hover{
    width:21vw;
    background-color: #087CA7;
    cursor: pointer;
}
.temp{
    margin: .5em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.extends{
    display: flex;
    flex-direction: row;
}
.small-card i{
    font-size: 2em;
}
.small-card{
    text-align: center;
    width: 20%;
    background-color:#F4D35E;
    border-radius: 5%;
    padding: .3em;
    margin: .5em;
}
.extend{
    background-color: #F78764;
    position: absolute;
    top: 50%;
    transform: translate(5%,-50%);
}
.extended-card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.small-card p {
    margin-top: .7em;
    font-weight: 700;
}
